{{- if .Values.connectors.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "connectors.fullname" . }}-configuration
  labels:
    {{- include "connectors.labels" . | nindent 4 }}
data:
  application.yaml: |
    {{ tpl .Values.connectors.configuration . | indent 4 | trim }}
  {{- range $key, $val := .Values.connectors.extraConfiguration }}
  {{ $key }}: |
    {{ $val | indent 4 | trim }}
  {{- end }}
{{- end }}
