apiVersion: v2
name: camunda-platform
version: 13.0.0-alpha5
appVersion: 8.8.x
description: |
  Camunda 8 Self-Managed Helm charts.
  Camunda's process automation platform allows developers to design, automate and improve processes.
type: application
icon: https://helm.camunda.io/imgs/camunda.svg
home: https://docs.camunda.io/docs/self-managed/overview/
sources:
  - https://github.com/camunda/camunda-platform-helm
keywords:
  - automation
  - business-rules
  - bpm
  - bpmn
  - camunda-platform
  - decision-engine
  - dmn
  - modeling
  - orchestration
  - process-automation
  - process-engine
  - process-orchestration
  - workflow
  - workflow-engine
dependencies:
  # Identity Dependencies.
  - name: keycloak
    alias: identityKeycloak
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.7.4
    condition: "identityKeycloak.enabled"
  - name: postgresql
    alias: identityPostgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 15.x.x
    condition: "identityPostgresql.enabled"
  # WebModeler Dependencies.
  - name: web-modeler-postgresql
    alias: webModelerPostgresql
    repository: "file://../web-modeler-postgresql-15"
    version: 15.x.x
    condition: "webModelerPostgresql.enabled"
  # Shared Dependencies.
  - name: elasticsearch
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 21.6.3
    condition: "elasticsearch.enabled"
  # Helpers.
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 2.x.x
maintainers:
  - name: aabouzaid
    email: ahmed.abouzaid@camunda.com
  - name: drodriguez-305
    email: daniel.rodriguez@camunda.com
  - name: hamza-m-masood
    email: hamza.masood@camunda.com
  - name: jessesimpson36
    email: jesse.simpson@camunda.com
annotations:
  artifacthub.io/prerelease: "true"
  camunda.io/helmCLIVersion: "3.18.2"
  artifacthub.io/links: |
    - name: Camunda 8 docs
      url: https://docs.camunda.io/
    - name: Camunda 8 Self-Managed docs
      url: https://docs.camunda.io/docs/self-managed/about-self-managed/
    - name: Camunda 8 Self-Managed Helm charts
      url: https://github.com/camunda/camunda-platform-helm
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: added
      description: "Support image.digest for all components"
    - kind: added
      description: "Support core identity oidc"
    - kind: added
      description: "Support ingress external hostname"
    - kind: fixed
      description: "Bump version in webModeler alpha to alpha5.1"
    - kind: fixed
      description: "Connectors default mapping for the core component"
    - kind: fixed
      description: "Add main env to migration init container"
    - kind: fixed
      description: "Correct identity 8.8 image tag"
    - kind: fixed
      description: "Restore the original Zeebe startup script behaviour for backup operations"
    - kind: fixed
      description: "Readd Zeebe NodeId logic from multi-region for 8.8"
