apiVersion: v2
name: camunda-platform
version: 8.3.3
appVersion: 8.3.x
description: |
  Camunda 8 Self-Managed Helm charts.
  Camunda's process automation platform allows developers to design, automate and improve processes.
type: application
icon: https://helm.camunda.io/imgs/camunda.svg
home: https://docs.camunda.io/docs/self-managed/overview/
sources:
  - https://github.com/camunda/camunda-platform-helm
keywords:
  - bpm
  - bpmn
  - camunda-platform
  - dmn
  - process-engine
  - workflow
dependencies:
  # Camunda charts.
  - name: identity
    version: 8.3.3
    condition: "identity.enabled"
    import-values:
      #START DEV COMMENTS    
      # NOTE: This is used to share Identity image details with its subchart Keycloak.
      #       It should be part of Identity but Helm 3 missing this option currently (v3.10.x).
      #END DEV COMMENTS
      - child: image
        parent: global.identity.image
  # Dependency charts.
  - name: elasticsearch
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: 19.13.12
    condition: "elasticsearch.enabled"
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
    condition: "postgresql.enabled"
  # Helpers charts.
  - name: common
    repository: https://charts.bitnami.com/bitnami
    version: 2.x.x
maintainers:
  - name: Zelldon
    email: christopher.zell@camunda.com
  - name: aabouzaid
    email: ahmed.abouzaid@camunda.com
annotations:
  artifacthub.io/links: |
    - name: Camunda 8 docs
      url: https://docs.camunda.io/
    - name: Camunda 8 Self-Managed docs
      url: https://docs.camunda.io/docs/self-managed/about-self-managed/
    - name: Camunda 8 Self-Managed Helm charts
      url: https://github.com/camunda/camunda-platform-helm
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: fixed
      description: "correct a typo in identity-optimize secret"
    - kind: fixed
      description: "allow mount zeebe exporters dir"
    - kind: fixed
      description: "set keycloak data tmp dir writable"
    - kind: changed
      description: "change operate default log level to INFO"
