{{- if .Values.core.migration.process.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "core.fullname" . }}-process-migration-configuration
data:
  application.yaml: |
    spring:
      profiles:
        active: process-migration
    {{- if .Values.global.elasticsearch.enabled }}
    camunda:
      database:
        connect:
          cluster-name: elasticsearch
          cluster-type: elasticsearch
        url: {{ include "camundaPlatform.elasticsearchURL" . | quote }}
        {{- if and .Values.global.elasticsearch.auth.username .Values.global.elasticsearch.auth.password }}
        username: {{ .Values.global.elasticsearch.auth.username }}
        password: ${VALUES_DATABASE_PASSWORD:}
        {{- end }}
    {{- else }}
    camunda:
      database:
        connect:
          cluster-name: opensearch
          cluster-type: opensearch
        url: {{ include "camundaPlatform.opensearchURL" . | quote }}
        username: {{ .Values.global.opensearch.auth.username }}
        password: ${VALUES_DATABASE_PASSWORD:}
    {{- end }}
      migration:
        process:
          batch-size: 5
          import-finished-timeout: PT1M
          retry:
            max-retries: 5
            max-retry-delay: PT1M
            min-retry-delay: PT10S
            retry-delay-multiplier: 2.0
{{- end }}
