apiVersion: v2
name: camunda-platform
version: 14.0.0-alpha1
appVersion: 8.9.x
description: |
  Camunda 8 Self-Managed Helm charts.
  Camunda's process automation platform allows developers to design, automate and improve processes.
type: application
icon: https://helm.camunda.io/imgs/camunda.svg
home: https://docs.camunda.io/docs/self-managed/overview/
sources:
  - https://github.com/camunda/camunda-platform-helm
keywords:
  - automation
  - business-rules
  - bpm
  - bpmn
  - camunda-platform
  - decision-engine
  - dmn
  - modeling
  - orchestration
  - process-automation
  - process-engine
  - process-orchestration
  - workflow
  - workflow-engine
dependencies:
  # Identity Dependencies.
  - name: keycloak
    alias: identityKeycloak
    repository: "file://../keycloak-24"
    version: 24.x.x
    condition: "identityKeycloak.enabled"
  - name: postgresql
    alias: identityPostgresql
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 16.x.x
    condition: "identityPostgresql.enabled"
  # WebModeler Dependencies.
  - name: web-modeler-postgresql
    alias: webModelerPostgresql
    repository: "file://../web-modeler-postgresql-15"
    version: 15.x.x
    condition: "webModelerPostgresql.enabled"
  # Shared Dependencies.
  - name: elasticsearch
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 21.6.3
    condition: "elasticsearch.enabled"
  # Helpers.
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 2.x.x
maintainers:
  - name: aabouzaid
    email: ahmed.abouzaid@camunda.com
  - name: drodriguez-305
    email: daniel.rodriguez@camunda.com
  - name: hamza-m-masood
    email: hamza.masood@camunda.com
  - name: jessesimpson36
    email: jesse.simpson@camunda.com
annotations:
  artifacthub.io/prerelease: "true"
  camunda.io/helmCLIVersion: "3.19.0"
  artifacthub.io/links: |
    - name: Camunda 8 docs
      url: https://docs.camunda.io/
    - name: Camunda 8 Self-Managed docs
      url: https://docs.camunda.io/docs/self-managed/about-self-managed/
    - name: Camunda 8 Self-Managed Helm charts
      url: https://github.com/camunda/camunda-platform-helm
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/changes: |
    - kind: fixed
      description: "Chart version should be 14.0.0-alpha1"
    - kind: fixed
      description: "Adjust RELEASE-NOTES.md"
    - kind: fixed
      description: "Remove console secret since console is a public OIDC client"
    - kind: fixed
      description: "Configmap for orchestration renders as valid yaml and not giant blob"
    - kind: fixed
      description: "Disable version check restrict on qa upgrades"
    - kind: fixed
      description: "Correct retention configuration in orchestration configMap"
    - kind: fixed
      description: "Disable schema manager version check restriction for upgrades"
    - kind: fixed
      description: "Use joinPath helper to fix double slash issues in console configmap"
    - kind: fixed
      description: "Apply dual-region exclusion logic to opensearch exporter as well"
    - kind: fixed
      description: "Move config under camunda"
    - kind: fixed
      description: "Add missing files from 8.9"
    - kind: fixed
      description: "Allows cpu to be set as either string or number"
    - kind: fixed
      description: "Delete the migrator from 8.9"
