global:
  identity:
    auth:
      # Disable the Identity authentication for local development
      # it will fall back to basic-auth: demo/demo as default user
      enabled: false

# Disable identity as part of the Camunda core
identity:
  enabled: false

# Disable keycloak
identityKeycloak:
  enabled: false

optimize:
  enabled: false
  migration:
    resources: null

operate:
  resources: null
  migration:
    resources: null

tasklist:
  resources: null

# Reduce for Zeebe and Gateway the configured replicas and with that the required resources
# to get it running locally
zeebe:
  resources: null
  clusterSize: 1
  partitionCount: 1
  replicationFactor: 1
  pvcSize: 10Gi

zeebeGateway:
  resources: null
  replicas: 1

connectors:
  # Disable Connectors as it has a bug in the current version (8.7.2).
  enabled: false
  inbound:
    mode: disabled

elasticsearch:
  resources: null
  master:
    resources: null
    replicaCount: 1
    # Request smaller persistent volumes.
    persistence:
      size: 10Gi
