{{- if and .Values.prometheusServiceMonitor.enabled .Values.orchestration.enabled -}}
apiVersion: monitoring.orchestrationos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "camundaPlatform.fullname" . }}-orchestration
  labels: {{- include "camundaPlatform.labels" . | nindent 4 }}
    {{- toYaml .Values.prometheusServiceMonitor.labels | nindent 4}}
spec:
  selector:
    matchLabels:
      {{- toYaml .Values.global.labels | nindent 6 }}
      app.kubernetes.io/component: orchestration
  endpoints:
    - honorLabels: true
      path: {{ include "camundaPlatform.joinpath" (list .Values.orchestration.contextPath .Values.orchestration.metrics.prometheus) }}
      port: {{ default "server" .Values.orchestration.service.managementName }}
      interval: {{ .Values.prometheusServiceMonitor.scrapeInterval }}
{{- end }}
