master:
  replicaCount: 3
  resources:
    requests: { cpu: "2000m", memory: "2Gi" }
    limits: { cpu: "4000m", memory: "2Gi" }
  roles:
    master: true
    data: false
    ingest: false
    coordinating: false
  persistence:
    enabled: false
  pdb:
    create: true
    minAvailable: 2
  service: { type: ClusterIP }
  heapSize: 1g
  extraEnvVars:
    - name: ELASTICSEARCH_ACTION_DESTRUCTIVE_REQUIRES_NAME
      value: "false"

data:
  replicaCount: 5
  heapSize: 1g
  resources:
    requests: { cpu: "2000m", memory: "2Gi" }
    limits: { cpu: "4000m", memory: "2Gi" }
  roles:
    master: false
    data: true
    ingest: false
    coordinating: false
  persistence:
    enabled: true
    size: 8Gi
  pdb:
    create: true
    minAvailable: 1

coordinating:
  replicaCount: 2
  resources:
    requests: { cpu: "1000m", memory: "1Gi" }
    limits: { cpu: "2000m", memory: "2Gi" }
  roles:
    master: false
    data: false
    ingest: false
    coordinating: true
    remote_cluster_client: true
  persistence:
    enabled: false
  service:
    type: ClusterIP
    ports:
      - name: https
        port: 9200
        targetPort: 9200

ingest:
  replicaCount: 0

antiAffinity: "soft"
podAntiAffinityPreset: "soft"

readinessProbe:
  initialDelaySeconds: 45
  periodSeconds: 10
livenessProbe:
  initialDelaySeconds: 90
  periodSeconds: 20

global:
  security:
    allowInsecureImages: true
  kibanaEnabled: true

kibana:
  image:
    repository: bitnamilegacy/kibana
    tag: 8.17.4
    digest: ""
  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "2000m"
      memory: "3Gi"
  extraEnvVars:
    - name: NODE_OPTIONS
      value: "--max-old-space-size=3072"
  extraConfig:
    xpack.reporting.enabled: false
    xpack.fleet.enabled: true
  elasticsearch:
    security:
      auth:
        enabled: true
        existingSecret: infra-credentials
        elasticsearchPasswordSecret: infra-credentials
        createSystemUser: true
      tls:
        enabled: true
        existingSecret: elasticsearch-coordinating-crt
        usePemCerts: true
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: kibana-es-21-6-3.ci.distro.ultrawombat.com
    path: /
    tls: true
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
      nginx.ingress.kubernetes.io/proxy-body-size: "20m"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    extraTls:
      - hosts:
          - kibana-es-21-6-3.ci.distro.ultrawombat.com
        secretName: camunda-platform

security:
  enabled: true
  existingSecret: infra-credentials
  tls:
    autoGenerated: true
    restEncryption: true
    verificationMode: certificate

sysctlImage:
  repository: bitnamilegacy/os-shell
  pullPolicy: IfNotPresent

copyTlsCerts:
  image:
    repository: bitnamilegacy/os-shell
    pullPolicy: IfNotPresent

image:
  repository: bitnamilegacy/elasticsearch
  tag: 8.18.0
  digest: ""

extraConfig:
  logger.org.elasticsearch.deprecation: "OFF"

esConfig:
  elasticsearch.yml: |
    cluster.max_shards_per_node: 10000
    xpack.security.enabled: true
    action.auto_create_index: true
    cluster.routing.allocation.enable: all
    action.destructive_requires_name: false
    cluster.routing.rebalance.enable: all
  jvm.options: |
    -Xms1g
    -Xmx1g

updateStrategy:
  type: RollingUpdate

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: elasticsearch-21-6-3.ci.distro.ultrawombat.com
  path: /
  tls: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  service:
    name: elasticsearch-coordinating
    port: 9200
  extraTls:
    - hosts:
        - elasticsearch-21-6-3.ci.distro.ultrawombat.com
      secretName: camunda-platform
