{{- if and .Values.global.gateway.enabled (not .Values.global.gateway.external) -}}
{{- if .Values.orchestration.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: GRPCRoute
metadata:
  name: {{ include "camundaPlatform.fullname" . }}-grpc
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
  hostnames:
  - {{ tpl .Values.orchestration.ingress.grpc.host $ }}
  rules:
  - backendRefs:
    - name: {{ include "orchestration.serviceName" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.orchestration.service.grpcPort }}
{{- end }}
{{- end }}
