apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: orchestration
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /orchestration
    backendRefs:
    - name: cpt-zeebe-gateway
      namespace: default
      port: 8080
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keycloak
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /auth
    backendRefs:
    - name: cpt-keycloak
      namespace: default
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: identity
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /identity
    backendRefs:
    - name: cpt-identity
      namespace: default
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: optimize
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /optimize
    backendRefs:
    - name: cpt-optimize
      namespace: default
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: modeler
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /modeler
    backendRefs:
    - name: cpt-web-modeler-webapp
      namespace: default
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: connectors
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /connectors
    backendRefs:
    - name: cpt-connectors
      namespace: default
      port: 8080
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: console
spec:
  parentRefs:
  - name: camunda-gateway
    sectionName: http
  hostnames:
  - "local.distro.ultrawombat.com"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /console
    backendRefs:
    - name: cpt-console
      namespace: default
      port: 80
---
apiVersion: gateway.networking.k8s.io/v1
kind: GRPCRoute
metadata:
  name: grpc-zeebe
spec:
  hostnames:
  - "zeebe.local.distro.ultrawombat.com"
