apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: orchestration
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.orchestration.contextPath }}
    backendRefs:
    - name: {{ include "orchestration.serviceName" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.orchestration.service.httpPort }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keycloak
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ include "identity.keycloak.contextPath" . | trimSuffix "/" }}/
    backendRefs:
    - name: {{ include "identity.keycloak.service" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ include "identity.keycloak.port" . }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: identity
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.identity.contextPath }}
    backendRefs:
    - name: {{ template "identity.fullname" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.identity.service.port }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: optimize
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.optimize.contextPath }}
    backendRefs:
    - name: {{ template "optimize.fullname" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.optimize.service.port }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: modeler
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.webModeler.contextPath }}
    backendRefs:
    - name: {{ template "webModeler.webapp.fullname" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.webModeler.webapp.service.port }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: connectors
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.connectors.contextPath }}
    backendRefs:
    - name: {{ template "connectors.fullname" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.connectors.service.serverPort }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: console
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  - name: {{ include "camundaPlatform.fullname" . }}
    sectionName: {{ if .Values.global.gateway.tls.enabled }}https{{ else }}http{{ end }}
  hostnames:
  - {{ .Values.global.gateway.hostname | quote }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.console.contextPath }}
    backendRefs:
    - name: {{ template "console.fullname" . }}
      namespace: {{ .Release.Namespace }}
      port: {{ .Values.console.service.port }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: GRPCRoute
metadata:
  name: {{ include "camundaPlatform.fullname" . }}-grpc
  annotations:
    {{- with .Values.global.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.global.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  hostnames:
  - {{ tpl .Values.orchestration.ingress.grpc.host $ }}
