# clone the widlcard certs secrets from the permanent cluster

apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-secret-ci-distro-ultrawombat-com
  namespace: camunda-platform
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: k8s-store-token-auth
  target:
    name: ci-distro-ultrawombat-com  # name of the k8s Secret to be created
  data:
  - secretKey: tls.crt
    remoteRef:
      key: ci-distro-ultrawombat-com
      property: tls.crt
  - secretKey: tls.key
    remoteRef:
      key: ci-distro-ultrawombat-com
      property: tls.key
---
# clone the integration tests secrets
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-secret-integration-test
  namespace: camunda-platform
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: SecretStore
    name: k8s-store-token-auth
  target:
    name: integration-test
  dataFrom:
    - key: integration-test
