{{- if .Values.tasklist.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tasklist.fullname" . }}
  labels:
    {{- include "tasklist.labels" . | nindent 4 }}
data:
  {{- if .Values.tasklist.configuration }}
  application.yml: |
    {{ .Values.tasklist.configuration | indent 4 | trim }}
  {{- else }}
  application.yml: |
    {{- if .Values.tasklist.contextPath }}
    server:
      servlet:
        contextPath: {{ .Values.tasklist.contextPath | quote }}
    {{- end }}
  
    {{- if .Values.global.identity.auth.enabled }}
    spring:
      profiles:
        active: identity-auth
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: {{ include "camundaPlatform.authIssuerBackendUrl" . | quote }}
              jwk-set-uri: {{ include "camundaPlatform.authIssuerBackendUrlCertsEndpoint" . | quote }}

    camunda:
      identity:
        clientId: {{ include "tasklist.authClientId" . | quote }}
        audience: {{ include "tasklist.authAudience" . | quote }}
    {{- else }}
    spring:
      profiles:
        active: auth
    {{- end }}

    # Tasklist configuration file
    camunda.tasklist:
      {{- if .Values.global.multitenancy.enabled }}
      multiTenancy:
        enabled: true
      {{- end }}

      identity:
        redirectRootUrl: {{ tpl .Values.global.identity.auth.tasklist.redirectUrl $ | trimSuffix .Values.tasklist.contextPath | quote }}
        userAccessRestrictions:
          enabled: {{ .Values.tasklist.identity.userAccessRestrictions.enabled | quote }}

      # Set Tasklist username and password.
      # If user with <username> does not exists it will be created.
      # Default: demo/demo
      #username:
      #password:
      # ELS instance to store Tasklist data
      elasticsearch:
        # Cluster name
        clusterName: {{ .Values.global.elasticsearch.clusterName }}
        # Host
        host: {{ include "camundaPlatform.elasticsearchHost" . }}
        # Transport port
        port: {{ .Values.global.elasticsearch.url.port }}
      # Zeebe instance
      zeebe:
        # Broker contact point
        brokerContactPoint: "{{ tpl .Values.global.zeebeClusterName . }}-gateway:{{ .Values.global.zeebePort }}"
      # ELS instance to export Zeebe data to
      zeebeElasticsearch:
        # Cluster name
        clusterName: {{ .Values.global.elasticsearch.clusterName }}
        # Host
        host: {{ include "camundaPlatform.elasticsearchHost" . }}
        # Transport port
        port: {{ .Values.global.elasticsearch.url.port }}
        # Index prefix, configured in Zeebe Elasticsearch exporter
        prefix: {{ .Values.global.elasticsearch.prefix }}
      {{- if .Values.tasklist.retention.enabled }}
      archiver:
        ilmEnabled: true
        ilmMinAgeForDeleteArchivedIndices: {{ .Values.tasklist.retention.minimumAge }}
      {{- end }}
    #Spring Boot Actuator endpoints to be exposed
    management.endpoints.web.exposure.include: health,info,conditions,configprops,prometheus,loggers,usage-metrics,backups
    # Enable or disable metrics
    #management.metrics.export.prometheus.enabled: false
  {{- end }}
  {{- range $key, $val := .Values.tasklist.extraConfiguration }}
  {{ $key }}: |
    {{ $val | indent 4 | trim }}
  {{- end }}
{{- end }}
