{{- if .Values.orchestration.migration.data.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "orchestration.fullname" . }}-process-migration-configuration
data:
  application.yaml: |
    {{- if .Values.global.elasticsearch.enabled }}
    camunda:
      database:
        connect:
          cluster-name: elasticsearch
          cluster-type: elasticsearch
        url: {{ include "camundaPlatform.elasticsearchURL" . | quote }}
        {{- if and .Values.global.elasticsearch.auth.username .Values.global.elasticsearch.auth.password }}
        username: {{ .Values.global.elasticsearch.auth.username }}
        password: ${VALUES_DATABASE_PASSWORD:}
        {{- end }}
    {{- else }}
    camunda:
      database:
        connect:
          cluster-name: opensearch
          cluster-type: opensearch
        url: {{ include "camundaPlatform.opensearchURL" . | quote }}
        {{- if and .Values.global.opensearch.auth.username .Values.global.opensearch.auth.password }}
        username: {{ .Values.global.opensearch.auth.username }}
        password: ${VALUES_DATABASE_PASSWORD:}
        {{- end }}
    {{- end }}
      migration:
        process:
          batch-size: {{ .Values.orchestration.migration.data.process.batchSize }}
          import-finished-timeout: {{ .Values.orchestration.migration.data.process.importFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.process.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.process.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.process.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.process.retry.retryDelayMultiplier }}
        metrics:
          batch-size: {{ .Values.orchestration.migration.data.metrics.batchSize }}
          import-finished-timeout: {{ .Values.orchestration.migration.data.metrics.importFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.metrics.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.metrics.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.metrics.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.metrics.retry.retryDelayMultiplier }}
        tumetrics:
          batch-size: {{ .Values.orchestration.migration.data.tumetrics.batchSize }}
          import-finished-timeout: {{ .Values.orchestration.migration.data.tumetrics.importFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.tumetrics.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.tumetrics.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.tumetrics.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.tumetrics.retry.retryDelayMultiplier }}
        tasks:
          batch-size: {{ .Values.orchestration.migration.data.tasks.batchSize }}
          import-finished-timeout: {{ .Values.orchestration.migration.data.process.importFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.process.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.process.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.process.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.process.retry.retryDelayMultiplier }}
{{- end }}
