{{- if .Values.orchestration.migration.identity.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "identity.fullname" . }}-migration-configuration
data:
  application.yaml: |
    camunda:
      migration:
        identity:
          mode: {{ .Values.global.identity.auth.type }}
          {{- if not ( eq .Values.global.identity.auth.type "KEYCLOAK" ) }}
          oidc:
            audiences:
              identity: {{ include "identity.authAudience" . | quote }}
              operate: {{ .Values.global.identity.auth.orchestration }}
              tasklist: {{ .Values.global.identity.auth.orchestration }}
              zeebe: {{ .Values.global.identity.auth.orchestration }}
          {{- end }}
          cluster:
            cluster-name: {{ tpl .Values.global.zeebeClusterName . }}
            cluster-size: {{ .Values.orchestration.clusterSize }}
            partitions-count: {{ .Values.orchestration.partitionCount }}
            replication-factor: {{ .Values.orchestration.replicationFactor }}
            initial-contact-points:
            {{- range (untilStep 0 (int .Values.orchestration.clusterSize) 1) }}
              - {{ include "orchestration.legacyName" $ }}-{{ . }}.{{ include "orchestration.fullname" $ }}:{{$.Values.orchestration.service.internalPort}}
            {{- end }}
          management-identity:
            audience: {{ include "identity.authAudience" . | quote }}
            base-url: {{ tpl .Values.global.identity.auth.identity.redirectUrl $ | quote }}
            client-id: migration
            client-secret: ${VALUES_CAMUNDA_IDENTITY_CLIENT_SECRET:}
            issuer-backend-url: {{ include "camundaPlatform.authIssuerBackendUrl" . | quote }}
{{- end }}
