{{- if .Values.orchestration.migration.data.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "orchestration.fullname" . }}-data-migration-configuration
data:
  application.yaml: |
    {{- if .Values.global.elasticsearch.enabled }}
    camunda:
      data:
        secondary-storage:
          elasticsearch:
            url: {{ include "camundaPlatform.elasticsearchURL" . | quote }}
            {{- if .Values.orchestration.index.prefix }}
            index-prefix: {{ .Values.orchestration.index.prefix | quote }}
            {{- end }}
            cluster-name: {{ .Values.global.elasticsearch.clusterName }}
            {{- if and .Values.global.elasticsearch.auth.username .Values.global.elasticsearch.auth.password }}
            username: {{ .Values.global.elasticsearch.auth.username }}
            password: ${VALUES_ELASTICSEARCH_PASSWORD:}
            {{- end }}
      database:
        type: elasticsearch
        clusterName: {{ .Values.global.elasticsearch.clusterName }}
        url: {{ include "camundaPlatform.elasticsearchURL" . | quote }}
        {{- if .Values.orchestration.index.prefix }}
        indexPrefix: {{ .Values.orchestration.index.prefix | quote }}
        {{- end }}
        {{- if and .Values.global.elasticsearch.auth.username .Values.global.elasticsearch.auth.password }}
        username: {{ .Values.global.elasticsearch.auth.username }}
        password: ${VALUES_ELASTICSEARCH_PASSWORD:}
        {{- if .Values.orchestration.index.replicas }}
        index:
          numberOfReplicas: {{ .Values.orchestration.index.replicas }}
        {{- end }}
        {{- end }}
        {{- if .Values.orchestration.history.retention.enabled }}
        retention:
          enabled: true
          minimumAge: {{ .Values.orchestration.history.retention.minimumAge | quote }}
          policyName: {{ .Values.orchestration.history.retention.policyName | quote }}
        {{- end }}
    {{- else }}
    camunda:
      data:
        secondary-storage:
          opensearch:
            url: {{ include "camundaPlatform.opensearchURL" . | quote }}
            {{- if .Values.orchestration.index.prefix }}
            index-prefix: {{ .Values.orchestration.index.prefix | quote }}
            {{- end }}
            username: {{ .Values.global.opensearch.auth.username }}
            password: ${VALUES_OPENSEARCH_PASSWORD:}
            cluster-name: {{ .Values.global.opensearch.clusterName }}
            {{- if and .Values.global.opensearch.auth.username .Values.global.opensearch.auth.password }}
            username: {{ .Values.global.opensearch.auth.username }}
            password: ${VALUES_OPENSEARCH_PASSWORD:}
            {{- end }}
      database:
        clusterName: {{ .Values.global.opensearch.clusterName }}
        type: opensearch
        awsEnabled: {{ .Values.global.opensearch.aws.enabled }}
        url: {{ include "camundaPlatform.opensearchURL" . | quote }}
        {{- if .Values.orchestration.index.prefix }}
        indexPrefix: {{ .Values.orchestration.index.prefix | quote }}
        {{- end }}
        {{- if and .Values.global.opensearch.auth.username .Values.global.opensearch.auth.password }}
        username: {{ .Values.global.opensearch.auth.username }}
        password: ${VALUES_OPENSEARCH_PASSWORD:}
        {{- end }}
        {{- if .Values.orchestration.history.retention.enabled }}
        retention:
          enabled: true
          minimumAge: {{ .Values.orchestration.history.retention.minimumAge | quote }}
          policyName: {{ .Values.orchestration.history.retention.policyName | quote }}
        {{- end }}
    {{- end }}
      migration:
        process:
          batch-size: {{ .Values.orchestration.migration.data.process.batchSize }}
          importer-finished-timeout: {{ .Values.orchestration.migration.data.process.importerFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.process.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.process.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.process.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.process.retry.retryDelayMultiplier }}
        metrics:
          batch-size: {{ .Values.orchestration.migration.data.metrics.batchSize }}
          importer-finished-timeout: {{ .Values.orchestration.migration.data.metrics.importerFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.metrics.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.metrics.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.metrics.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.metrics.retry.retryDelayMultiplier }}
        tumetrics:
          batch-size: {{ .Values.orchestration.migration.data.tumetrics.batchSize }}
          importer-finished-timeout: {{ .Values.orchestration.migration.data.tumetrics.importerFinishedTimeout }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.tumetrics.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.tumetrics.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.tumetrics.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.tumetrics.retry.retryDelayMultiplier }}
        tasks:
          batch-size: {{ .Values.orchestration.migration.data.tasks.batchSize }}
          importer-finished-timeout: {{ .Values.orchestration.migration.data.tasks.importerFinishedTimeout }}
          {{- if .Values.orchestration.history.retention.enabled }}
          legacy-index-retention-age: {{ .Values.orchestration.migration.data.tasks.legacyIndexRetentionAge | default .Values.orchestration.history.retention.minimumAge | quote }}
          {{- end }}
          retry:
            max-retries: {{ .Values.orchestration.migration.data.process.retry.maxRetries }}
            max-retry-delay: {{ .Values.orchestration.migration.data.process.retry.maxRetryDelay }}
            min-retry-delay: {{ .Values.orchestration.migration.data.process.retry.minRetryDelay }}
            retry-delay-multiplier: {{ .Values.orchestration.migration.data.process.retry.retryDelayMultiplier }}
{{- end }}
