{{- if .Values.orchestration.migration.identity.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "identity.fullname" . }}-migration-configuration
data:
  application.yaml: |
    camunda:
      migration:
        identity:
          {{- if eq .Values.global.identity.auth.type "KEYCLOAK" }}
          mode: KEYCLOAK
          {{- else }}
          mode: OIDC
          {{- end }}
          resource-authorizations-enabled: {{ .Values.orchestration.migration.identity.resourceAuthorizationsEnabled }}
          {{- if not ( eq .Values.global.identity.auth.type "KEYCLOAK" ) }}
          oidc:
            audiences:
              identity: {{ include "identity.authAudience" . | quote }}
              operate: {{ .Values.orchestration.security.authentication.oidc.audience }}
              tasklist: {{ .Values.orchestration.security.authentication.oidc.audience }}
              zeebe: {{ .Values.orchestration.security.authentication.oidc.audience }}
          {{- end }}
          cluster:
            cluster-name: {{ tpl .Values.global.zeebeClusterName . }}
            cluster-size: {{ .Values.orchestration.clusterSize }}
            partitions-count: {{ .Values.orchestration.partitionCount }}
            replication-factor: {{ .Values.orchestration.replicationFactor }}
            initial-contact-points:
            {{- range (untilStep 0 (int .Values.orchestration.clusterSize) 1) }}
              - {{ include "orchestration.fullname" $ }}-{{ . }}.{{ include "orchestration.serviceNameHeadless" $ }}:{{ $.Values.orchestration.service.internalPort }}
            {{- end }}
          management-identity:
            audience: {{ include "identity.authAudience" . | quote }}
            base-url: {{ tpl .Values.global.identity.auth.identity.redirectUrl $ | quote }}
          {{- if eq .Values.global.identity.auth.type "KEYCLOAK" }}
            client-id: migration
          {{- else }}
            client-id: {{ include "orchestration.authClientId" . | quote }}
          {{- end }}
            client-secret: ${VALUES_CAMUNDA_IDENTITY_CLIENT_SECRET:}
            issuer-backend-url: {{ include "camundaPlatform.authIssuerBackendUrl" . | quote }}
            issuer-type: {{ .Values.global.identity.auth.type }}
{{- end }}
