master:
  replicaCount: 3
  resources:
    requests: { cpu: "2000m", memory: "3Gi" }
    limits: { cpu: "4000m", memory: "3Gi" }
  roles:
    master: true
    data: false
    ingest: false
    coordinating: false
  heapSize: 1536m
  persistence:
    enabled: true
    size: 2Gi
  pdb:
    create: true
    minAvailable: 2
  service:
    type: ClusterIP
  podAntiAffinityPreset: "soft"
  readinessProbe:
    enabled: true
    initialDelaySeconds: 45
    periodSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 90
    periodSeconds: 20

data:
  replicaCount: 5
  heapSize: 1536m
  resources:
    requests: { cpu: "2000m", memory: "3Gi" }
    limits: { cpu: "4000m", memory: "3Gi" }
  roles:
    master: false
    data: true
    ingest: false
    coordinating: false
  persistence:
    enabled: true
    size: 20Gi
  pdb:
    create: true
    minAvailable: 1
  podAntiAffinityPreset: "soft"
  readinessProbe:
    enabled: true
    initialDelaySeconds: 45
    periodSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 90
    periodSeconds: 20

coordinating:
  replicaCount: 2
  heapSize: 2g
  resources:
    requests: { cpu: "1500m", memory: "2Gi" }
    limits: { cpu: "3000m", memory: "4Gi" }
  roles:
    master: false
    data: false
    ingest: false
    coordinating: true
    remote_cluster_client: true
  persistence:
    enabled: false
  service:
    type: ClusterIP
    ports:
      - name: https
        port: 9200
        targetPort: 9200
  pdb:
    create: true
    minAvailable: 1
  podAntiAffinityPreset: "soft"
  readinessProbe:
    enabled: true
    initialDelaySeconds: 45
    periodSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 90
    periodSeconds: 20

ingest:
  replicaCount: 2
  heapSize: 2g
  resources:
    requests: { cpu: "1000m", memory: "2Gi" }
    limits: { cpu: "2000m", memory: "4Gi" }
  roles:
    master: false
    data: false
    ingest: true
    coordinating: false
  persistence:
    enabled: false
  pdb:
    create: true
    minAvailable: 1
  podAntiAffinityPreset: "soft"
  readinessProbe:
    enabled: true
    initialDelaySeconds: 45
    periodSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 90
    periodSeconds: 20

global:
  security:
    allowInsecureImages: true
  kibanaEnabled: false

security:
  enabled: true
  existingSecret: infra-credentials
  tls:
    autoGenerated: true
    restEncryption: true
    verificationMode: certificate

sysctlImage:
  repository: bitnamilegacy/os-shell
  pullPolicy: IfNotPresent

copyTlsCerts:
  image:
    repository: bitnamilegacy/os-shell
    pullPolicy: IfNotPresent

image:
  repository: bitnamilegacy/elasticsearch
  tag: 8.18.0

extraConfig:
  logger.org.elasticsearch.deprecation: "OFF"
  cluster.max_shards_per_node: 2000
  cluster.routing.allocation.disk.threshold_enabled: true
  cluster.routing.allocation.disk.watermark.low: 70%
  cluster.routing.allocation.disk.watermark.high: 85%
  cluster.routing.allocation.disk.watermark.flood_stage: 90%
  action.auto_create_index: true
  action.destructive_requires_name: false
  cluster.routing.allocation.enable: all
  cluster.routing.rebalance.enable: all

extraEnvVars:
  - name: ES_JAVA_OPTS
    value: "-XX:G1HeapRegionSize=4m -XX:HeapDumpPath=/tmp"

updateStrategy:
  type: RollingUpdate

ingress:
  enabled: true
  ingressClassName: nginx
  hostname: elasticsearch-21-6-3-selfsigned.ci.distro.ultrawombat.com
  path: /
  tls: true
  selfSigned: true
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
