name: Add new Issue

on:
  issues:
    types:
      - opened
      - transferred

jobs:
  add-to-project:
    name: Add new issue
    runs-on: ubuntu-latest
    steps:
      - name: Create URL to the run output
        id: vars
        run: |
          echo "project_id=33" >> "$GITHUB_OUTPUT"
          echo "now=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

      - name: Generate GitHub token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-github-token
        with:
          app_id: ${{ secrets.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      
      - name: Add to Distribution Team project
        uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: https://github.com/orgs/camunda/projects/33
          github-token: '${{ steps.generate-github-token.outputs.token }}'

      - name: Update Created At field
        uses: github/update-project-action@855b6a7c34beb8568df7291e7c0e84650d66c934 # main
        id: update-created-at
        with:
          github_token: ${{ steps.generate-github-token.outputs.token }}
          organization: ${{ github.repository_owner }}
          project_number: ${{ steps.vars.outputs.project_id }}
          content_id: ${{ github.event.issue.node_id }}
          field: Created At
          value: ${{ steps.vars.outputs.now }}

          