name: "Chart - Update README"

on:
  pull_request:
    branches:
      - main
    paths:
      - 'charts/camunda-platform/values.yaml'
      - '.github/workflows/chart-update-readme.yaml'

permissions:
  contents: read

jobs:
  update-readme-metadata:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Generate GitHub token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-github-token
        with:
          app_id: ${{ secrets.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
        with:
          token: '${{ steps.generate-github-token.outputs.token }}'
          # ref: ${{ github.event.pull_request.head.ref }}
      - name: Install readme-generator-for-helm
        run: npm install -g @bitnami/readme-generator-for-helm
      - name: Run readme generator
        run: |
          echo "Updating README.md"
          make helm.readme-update
      - name: Display Git status
        run: git status
      - name: Show current branch
        run: git branch
      - name: Extract branch name
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          author_name: "renovate[bot]"
          author_email: "29139614+renovate[bot]@users.noreply.github.com"
          message: "chore: Update README.md using readme-generator-for-helm"
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ env.branch }}
