name: "Chart - Release - PR"

on:
  push:
    branches:
      # Must be in the format of release-candidate-VERSION,
      # e.g. release-candidate-8.8 or release-candidate-alpha,
      # it must match the name used in the charts dir.
      # We rely on that format in this workflow.
      - release-candidate-*
      - aa-fix-rc-flow

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    name: Run Release Please
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-github-token
        with:
          app_id: ${{ secrets.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      # NOTE: This is a bit fragile as it depends on the branch name,
      # but it's the best option so far to allow release-please creates a PR for a single version.
      - name: Get chart folder from branch name
        run: |
          chart_version="8.6"
          echo "CHART_PATH=charts/camunda-platform-${chart_version}" >> $GITHUB_ENV
      - name: Install release-please
        run: |
          npm i release-please -g
      - name: Run release-please
        run: |
          release-please release-pr \
            --token="${{ steps.generate-github-token.outputs.token }}" \
            --repo-url="${{ github.repository }}" \
            --path="${{ env.CHART_PATH }}" \
            --target-branch="release-candidate-8.6" \
            --config-file="${{ env.CHART_PATH }}/.release-please-config.json" \
            --manifest-file="${{ env.CHART_PATH }}/.release-please-manifest.json" \
            --debug
