name: "Chart - Release - Chores"

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/chart-release-chores.yml
      - '**/.release-please-config.json'
      - '**/.release-please-manifest.json'

permissions:
  contents: write
  pull-requests: write

jobs:
  chores:
    if: ${{ contains(github.head_ref, 'release-please--branches--') }}
    name: Generate release files
    runs-on: ubuntu-latest
    steps:
      # Checkout.
      - name: Generate GitHub token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-github-token
        with:
          app_id: ${{ secrets.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      #
      # Dependencies.
      #
      - name: Install tools
        uses: ./.github/actions/install-tool-versions
        with:
          tools: |
            git-cliff
            golang
            gomplate
            helm
            helm-ct
            yq
      - name: Install readme-generator-for-helm
        run: |
          npm install -g @bitnami/readme-generator-for-helm
      - name: Add Helm repos
        run: |
          make helm.repos-add
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/.asdf/installs/golang/*/packages/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      #
      # Release chores.
      #
      - name: Set vars
        run: |
          echo "CHANGED_CHARTS=$(ct list-changed | tr '\n' ' ')" | tee -a $GITHUB_ENV
      - name: Update PR info
        env:
          GH_TOKEN: "${{ steps.generate-github-token.outputs.token }}"
        run: |
          git fetch origin main:main
          pr_nubmer="$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" }; { print $3 }')"
          # Set PR project.
          gh pr edit "${pr_nubmer}" --add-project "Distribution Team"
      - name: Update golden files
        run: |
          chartPath="${CHANGED_CHARTS}" \
            make go.update-golden-only
      - name: Update README
        run: |
          chartPath="${CHANGED_CHARTS}" \
            make helm.readme-update
      - name: Generate release notes
        run: |
          chartPath="${CHANGED_CHARTS}" \
            make release.generate-notes
      - name: Generate release note footer
        run: |
          chartPath="${CHANGED_CHARTS}" \
            make release.generate-notes-footer
      - name: Git pull
        run: git pull --rebase --autostash .
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          author_name: "distro-ci[bot]"
          author_email: "122795778+distro-ci[bot]@users.noreply.github.com"
          message: "chore(release): update chart files"
