name: "Chart - Release - Candidate"

on:
  workflow_dispatch:
    inputs:
      camunda-version:
        type: choice
        description: Camunda version in form of x.y
        options:
          - "8.3"
          - "8.4"
          - "8.5"
          - "8.6"
          - "8.7"
          - "8.8"
          - "8.9"

jobs:
  release:
    name: Release
    uses: ./.github/workflows/chart-release-template.yaml
    with:
      branch: release-candidate-${{ inputs.camunda-version }}
      workflow-ref: chart-release-template.yaml
      chart-matrix: |
        [
          {
            "name": "Helm Chart ${{ inputs.camunda-version }}",
            "directory": "charts/camunda-platform-${{ inputs.camunda-version }}",
            "versionSuffix": "rc-${{ inputs.camunda-version }}",
            "override": true
          }
        ]
