name: "Chart - Release - PR"

on:
  push:
    branches:
      - distro-378-aa-refactor-release-workflow

permissions:
  contents: write
  pull-requests: write

env:
  RELEASE_PLEASE_CONFIG_FILE: charts/camunda-platform-8.6/.release/release-please-config.json
  RELEASE_PLEASE_MANIFEST_FILE: charts/camunda-platform-8.6/.release/.release-please-manifest.json

jobs:
  release-please:
    name: Run Release Please
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2
        id: generate-github-token
        with:
          app_id: ${{ secrets.GH_APP_ID_DISTRO_CI }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY_DISTRO_CI }}
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          ref: distro-378-aa-refactor-release-workflow
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        with:
          token: '${{ steps.generate-github-token.outputs.token }}'
          # Config docs: https://github.com/googleapis/release-please/blob/main/docs/manifest-releaser.md
          config-file: "${{ env.RELEASE_PLEASE_CONFIG_FILE }}"
          manifest-file: "${{ env.RELEASE_PLEASE_MANIFEST_FILE }}"
          # target-branch: "release-candidate"
          target-branch: ${{ github.ref_name }}
