name: "Chart - Validate"

on:
  # Allow to run the workflow from GitHub UI and other workflows.
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/**'
      - '.tool-versions'
      - 'charts/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: asdf-vm/actions/install@v2
      - name: Add helm repos
        run: |
          make helm.repos-add
      - name: Get Helm dependency
        run: |
          make helm.dependency-update
      - name: Run Helm lint 
        run: |
          helm lint --strict charts/*
      - uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
      - name: Don't check version increment if there is no release label
        if: ${{ ! contains(github.event.*.labels.*.name, 'release') }}
        run: |
          echo "check-version-increment: false" >> .github/config/chart-testing.yaml
      - name: Run chart testing and lint
        run: ct lint --config .github/config/chart-testing.yaml
