name: Chart Release

on:
  # Allow to run the workflow from GitHub UI and other workflows.
  workflow_dispatch:
  workflow_run:
    workflows: ['Chart Validate']
    types:
      - completed

jobs:
  release:
    if: ${{ contains(github.event.*.labels.*.name, 'release') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: asdf-vm/actions/install@v1
      - name: Add helm repos
        run: |
          helm repo add elastic https://helm.elastic.co
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
      - name: Get Helm Deps
        run: make deps
      - name: Run tests
        run: make test
      - name: Run Chart Releaser
        uses: helm/chart-releaser-action@v1.3.0
        with:
          config: .github/config/chart-releaser.yaml
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          CR_SKIP_EXISTING: 'true'
