name: "Clean Up OpenSearch Indices"

on:
  schedule:
    # Set the cron schedule to run nightly at US time, EST (1AM UTC)
    - cron: "0 1 * * *"

permissions:
  contents: read
  id-token: write
  deployments: write

jobs:
  clean:
    name: Clean up Indices
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          repository: camunda/camunda-platform-helm
      - name: Authenticate to GKE
        uses: ./.github/actions/gke-login
        with:
          cluster-name: ${{ secrets.DISTRO_CI_GCP_GKE_CLUSTER_NAME }}
          cluster-location: ${{ secrets.DISTRO_CI_GCP_GKE_CLUSTER_LOCATION }}
          workload-identity-provider: ${{ secrets.DISTRO_CI_GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service-account: ${{ secrets.DISTRO_CI_GCP_SERVICE_ACCOUNT }}
      - name: cleanup
        env:
          OPENSEARCH_BASIC_AUTH_BASE64: ${{ secrets.OPENSEARCH_BASIC_AUTH_BASE64 }}
        shell: bash
        run: |
          # OpenSearch endpoint
          OPENSEARCH_HOST="https://search-qa-e2e-5q5uium4w7pgfz7i5tviimmmgm.eu-north-1.es.amazonaws.com:443"
          # Get all namespaces and extract run-IDs from QA namespaces
          KEEP_PREFIXES=($(kubectl get namespaces -o jsonpath='{.items[*].metadata.name}' | tr ' ' '\n' | grep -oP '\d+$'))
          # this element is needed since the master user does not have permissions to delete default OpenSearch prefixes which start with "."
          KEEP_PREFIXES+=(".")
          echo "prefixes to keep:"
          echo "${KEEP_PREFIXES[@]}"
          #Exclude prefixes from `KEEP_PREFIXES`array
          EXCLUSIONS=$(printf -- ",-%s*" "${KEEP_PREFIXES[@]}" | cut -c2-)
          curl -L -X DELETE ${OPENSEARCH_HOST}/*,${EXCLUSIONS} -H "Authorization: Basic $OPENSEARCH_BASIC_AUTH_BASE64"
