name: "Clean Up OpenSearch Indices"

on:
  pull_request:
  # schedule:
  # Set the cron schedule to run nightly at US time, EST (4AM UTC)
  # - cron: "0 1 * * *"

permissions:
  contents: read
  id-token: write
  deployments: write

jobs:
  clean:
    name: Clean up Indices
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # This is needed to load repo GH composite actions if the workflow triggered by workflow_call.
          repository: camunda/camunda-platform-helm
      - name: Authenticate to GKE
        uses: ./.github/actions/gke-login
        with:
          cluster-name: ${{ secrets.DISTRO_CI_GCP_GKE_CLUSTER_NAME }}
          cluster-location: ${{ secrets.DISTRO_CI_GCP_GKE_CLUSTER_LOCATION }}
          workload-identity-provider: ${{ secrets.DISTRO_CI_GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service-account: ${{ secrets.DISTRO_CI_GCP_SERVICE_ACCOUNT }}
      - name: Get pods
        shell: bash
        run: |
          kubectl get ns
