name: Renovate - Config Check

on:
  push:
    paths:
    - '.github/renovate.json5'
  pull_request:
    paths:
    - '.github/renovate.json5'
  workflow_dispatch: { }

permissions:
  contents: read

jobs:
  check:
    name: Check renovate config 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Validate renovate config
      uses: docker://renovate/renovate
      with:
        args: renovate-config-validator
