name: "Test - Unit - Template"

on:
  workflow_call:
    inputs:
      identifier:
        description: The unique identifier of used in the deployment hostname.
        required: true
        type: string
      camunda-helm-git-ref:
        required: false
        default: main
        type: string
      camunda-helm-dir:
        required: false
        default: camunda-platform
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.identifier }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  init:
    name: Generate components matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.components-unit-test.outputs.matrix }}
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      with:
        ref: "${{ inputs.camunda-helm-git-ref }}"
    - name: Generate chart versions
      id: components-unit-test
      run: |
        matrix_file="charts/${{ inputs.camunda-helm-dir }}/test/unit/ci-unit-test-matrix.yaml"
        matrix="$(yq --indent=0 --output-format json ${matrix_file})"
        echo "matrix=${matrix}" | tee -a $GITHUB_OUTPUT

  unit:
    name: ${{ matrix.test.name }} - Unit Test
    if: ${{ needs.init.outputs.matrix != '' }}
    needs: init
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.init.outputs.matrix) }}
    env:
      chartPath: "charts/${{ inputs.camunda-helm-dir }}"
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
    - name: Install env dependencies
      uses: asdf-vm/actions/install@05e0d2ed97b598bfce82fd30daf324ae0c4570e6 # v3
    - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Format
      run: |
        make go.fmt
    - name: Install License Tool
      run: |
        make go.addlicense-install
        asdf reshim golang
    - name: Check License
      run: |
        make go.addlicense-check
    - name: Add helm repos
      run: |
        make helm.repos-add
    - name: Get Helm dependency
      run: |
        make helm.dependency-update
    - name: ⭐️ Test ⭐️
      run: |
        cd charts/${{ inputs.camunda-helm-dir }}/test/unit
        go test $(printf "./%s " ${{ matrix.test.packages }})
