# Basic test for maintenance Camunda 8 Helm charts.
name: "Test - Chart Version"

on:
  pull_request:
    paths:
      - ".github/workflows/chart-validate-template.yaml"
      - ".github/workflows/test-unit-template.yml"
      - ".github/workflows/test-integration-template.yaml"
      - ".github/workflows/test-chart-version-template.yaml"
      - ".github/workflows/test-chart-version.yaml"
      - ".tool-versions"
      - "charts/camunda-platform-8*/**"
  workflow_dispatch: 
    inputs:
      manual-trigger:
        description: "Manual trigger"
        required: false
        default: "none"
        type: choice
        options:
          - none
          - "all"
          - "8.4"
          - "8.5"
          - "8.6"
          - "8.7"
          - "8.8"
      run-all-e2e-tests:
        description: "Run all E2E tests (playwright)"
        required: false
        default: false
        type: boolean
      platforms:
        description: The deployment cloud platform
        default: "gke"
        required: false
        type: choice
        options:
          - gke
          - eks
          - rosa
          - gke,eks
      flows:
        description: The flows to run
        default: "install"
        required: false
        type: choice
        options:
          - install
          - upgrade
          - install,upgrade
      e2e-enabled:
        required: false
        default: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-${{ github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
  deployments: write

jobs:
  init:
    name: Generate chart matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-chart-versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Generate chart versions
        id: generate-chart-versions
        uses: ./.github/actions/generate-chart-matrix
        with:
          manual-trigger: ${{ github.event.inputs.manual-trigger }}

  matrix-version-only:
    # Generates a chart matrix of just the versions changed
    if: ${{ needs.init.outputs.matrix != '[]' }}
    name: Generate versions from chart-matrix
    runs-on: ubuntu-latest
    needs: [init]
    outputs:
      matrix: ${{ steps.generate-chart-versions-only.outputs.matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Generate chart versions
        id: generate-chart-versions-only
        run: |
          printf matrix="$(echo '${{ needs.init.outputs.matrix }}' | jq -c '[.include.[].version] | unique')" | tee -a $GITHUB_OUTPUT

  unit-testing:
    if: ${{ needs.matrix-version-only.outputs.matrix != '[]' }}
    name: ${{ matrix.version }} - Unit Test
    needs: [init, matrix-version-only]
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.matrix-version-only.outputs.matrix) }}
    uses: ./.github/workflows/test-unit-template.yml
    with:
      identifier: "${{ github.event.pull_request.number }}-unit-${{ matrix.version }}"
      camunda-helm-dir: "camunda-platform-${{ matrix.version }}"
      camunda-helm-git-ref: "${{ github.event.pull_request.head.sha }}"

  # validation:
  #   if: ${{ needs.matrix-version-only.outputs.matrix != '[]' }}
  #   name: ${{ matrix.version }} - Validation
  #   needs: [init, matrix-version-only]
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       version: ${{ fromJson(needs.matrix-version-only.outputs.matrix) }}
  #   uses: ./.github/workflows/chart-validate-template.yaml
  #   with:
  #     identifier: "${{ github.event.pull_request.number }}-vald-${{ matrix.version }}"
  #     camunda-helm-dir: "camunda-platform-${{ matrix.version }}"
  #     camunda-helm-git-ref: "${{ github.event.pull_request.head.sha }}"

  kind-testing:
    if: ${{ needs.matrix-version-only.outputs.matrix != '[]' }}
    name: Local cluster - KIND ${{ matrix.version }}
    needs: [init, matrix-version-only, validation]
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.matrix-version-only.outputs.matrix) }}
    permissions:
      contents: read
    secrets: inherit
    uses: ./.github/workflows/test-local-template.yml
    with:
      identifier: "${{ github.event.pull_request.number }}-loc-${{ matrix.version }}"
      camunda-helm-dir: "camunda-platform-${{ matrix.version }}"
      camunda-helm-git-ref: "${{ github.event.pull_request.head.sha }}"

  grab-latest-chart:
    name: "Find latest Camunda Platform version"
    runs-on: ubuntu-latest
    outputs:
      latest-chart: ${{ steps.find-latest-chart.outputs.version }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Find latest chart
        id: find-latest-chart
        run: |
          version=$(ls ./charts | grep '^camunda-platform-[0-9]\+\(\.[0-9]\+\)*$' | cut -d'-' -f3 | sort -V | tail -1)
          echo "version=$version" >> $GITHUB_OUTPUT


  integation-tests:
    name: ${{ matrix.version }} - ${{ inputs.platforms || 'gke' }} - ${{ matrix.case }} - ${{ matrix.shortname }}
    needs: [init, matrix-version-only, grab-latest-chart]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.init.outputs.matrix) }}
    uses: ./.github/workflows/test-chart-version-template.yaml
    secrets: inherit
    with:
      latest-alpha: ${{ contains(matrix.version, needs.grab-latest-chart.outputs.latest-chart) && !contains(github.head_ref || github.ref, 'release-please') }}
      pr-number: ${{ github.event.pull_request.number || github.event.inputs.manual-trigger }}
      camunda-version: ${{ matrix.version }}
      case: ${{ matrix.case }}
      scenario: ${{ matrix.scenario }}
      shortname: ${{ matrix.shortname }}
      auth: ${{ matrix.auth }}
      platforms: ${{ inputs.platforms || 'gke' }}
      exclude: ${{ matrix.exclude }}
      e2e-enabled: ${{ inputs.e2e-enabled || true }}
      run-all-e2e-tests: ${{ inputs.run-all-e2e-tests || false }} # The full test suite is changing often. This might not work. We need to change the ways of working between the applciation teams, distro and QA
      flows: ${{ inputs.flows || 'install,upgrade' }}
